# **PROJECT NAME: SPAM CLASSIFIER**

# **AUTHOR NAME: AMIT KUMAR YADAV**

# Importing datasets

In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
msg=pd.read_csv("/content/SMSSpamCollection",sep='\t',names=['label','messages'])

In [3]:
msg.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
msg.shape

(5572, 2)

In [25]:
msg.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
print(len(msg))

5572

# Data Cleaning

In [5]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [33]:
corpus=[]
for i in range(0,len(msg)):
  review= re.sub('[^a-zA-Z]'," ",msg['messages'][i])
  review=review.lower()
  review=review.split()
  review=[ps.stem(word) for word in review if not word in stopwords.words('english')]
  review=' '.join(review)
  corpus.append(review)

In [34]:
corpus[0:5]

['go jurong point crazi avail bugi n great world la e buffet cine got amor wat',
 'ok lar joke wif u oni',
 'free entri wkli comp win fa cup final tkt st may text fa receiv entri question std txt rate c appli',
 'u dun say earli hor u c alreadi say',
 'nah think goe usf live around though']

In [35]:
print(len(corpus))

5572

# Creating the bag of words model

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000)

In [37]:
X=cv.fit_transform(corpus).toarray()

In [38]:
X.shape

(5572, 5000)

In [39]:
y=pd.get_dummies(msg['label'])

In [40]:
y.head()

   ham  spam
0    1     0
1    1     0
2    0     1
3    1     0
4    1     0

In [41]:
y=y.iloc[:,1].values

In [42]:
y.shape

(5572,)

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

# Trainig model by using navie bayes classifier

In [44]:
from sklearn.naive_bayes import MultinomialNB

In [46]:
spam_detect_model=MultinomialNB().fit(X_train,y_train)

In [47]:
y_pred=spam_detect_model.predict(X_test)

In [48]:
y_pred

array([0, 1, 0, ..., 0, 1, 0], dtype=uint8)

In [49]:
from sklearn.metrics import confusion_matrix

In [54]:
confusion_m=confusion_matrix(y_test,y_pred)
print( confusion_m)

[[946   9]
 [  8 152]]

In [55]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print("accuracy of model is:",accuracy)

accuracy of model is: 0.9847533632286996